img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    position: absolute;
    top: 0;
    bottom: 0;
    object-fit: cover;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}